/* Write your CSS here */

.main-container {
  display: flex;
  height: 100vh;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inside-container {
  background-color: #150b3e;
  border-radius: 14px;
  padding: 30px;
  width: 500px;
  height: 500px;
}

.logo-name {
  display: flex;
}

.name {
  background-color: #c7d2fe;
  border-radius: 100%;
  width: 60px;
  padding-left: 25px;
  font-size: 16px;
  color: #7c3aed;
  font-family: 'Roboto';
  margin-right: 20px;
  height: 60px;
  padding-top: 20px;
}

.full-name {
  font-family: 'Roboto';
  font-size: 30px;
  color: #d4d2db;
  align-self: center;
}

.unordered-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.balance {
  font-family: 'Roboto';
  color: #585076;
  font-size: 25px;
}

.balance-amount {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 35px;
}

.withdraw {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 30px;
}

.rupees-text {
  color: #382f5a;
  font-family: 'Roboto';
  font-size: 18px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.balance-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.small-text {
  font-family: 'Roboto';
  font-size: 12px;
  color: #585076;
}
